/* .middle {
    border: 1px solid black;
} */

#scroll_holder {
    height: 150px;
}

.about_header {
    width: 300px;
    text-align: center;
    margin: auto;
    border-bottom: 1px solid #829CD0;
    padding-bottom: 10px;
    color: black;
}

.about_header h1 {
    padding-top: 20px;
}

.about_header p {
    font-size: 18px;
    font-style: italic;
}

.about {
    text-align: center;
    /* padding-top: 50px; */
    margin: auto;
    font-size: 18px;
    color: black;
}

.countdown {
    border: 1px solid #829CD0;
    border-radius: 15px;
    width: 400px;
    padding: 10px;
    margin: 50px auto;
    padding-left: 25px;
}

.countdown p {
    display: inline;
    font-size: 18px;
}

#demo {
    padding-left: 10px;
    font-size: 18px;
}

.other_links a {
    text-align: center;
    color: #20368F;
    font-size: 18px;
    text-decoration: none;
}

.other_links a:hover {
    color: #829CD0;
    text-decoration: none;
    font-size: 20px;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    background-color: #20368F;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #829CD0;
    text-decoration: none;
}

@media screen and (max-width: 600px) {}

@media screen and (min-width: 1200px) {}