.middle {
    border: 1px solid black;
    /* margin-top: 500px; */
}

#scroll_holder {
    height: 150px;
}

.about_header {
    width: 300px;
    text-align: center;
    margin: auto;
    border-bottom: 1px solid #829CD0;
    padding-bottom: 10px;
    color: black;
}

.about_header h1 {
    padding-top: 20px;
}

.about {
    text-align: center;
    padding-top: 50px;
    margin: auto;
    font-size: 18px;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: blue;
}

@media screen and (max-width: 600px) {}

@media screen and (min-width: 1200px) {}