html {
    overflow-x: hidden;
    font-family: Helvetica
}

.design {
    background-color: #20368F;
    height: 1000px;
    /* width: 1300px; */
    width: 105%;
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    border-radius: 10%;
    margin-top: -450px;
    position: relative;
    z-index: -1;
}

img {
    max-width: 100%;
}

.maincontainer {
    margin-top: -550px;
    color: white;
    height: 100%:
}

.nav {
    padding-top: 30px;
    padding-bottom: 10px;
    transition: 0.2s;
    font-size: 18px;
    /* border: 1px solid black; */
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

.nav ul a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.nav ul a:hover {
    color: lightblue;
}

.nav_name {
    grid-column: 1 / span 6;
    padding-left: 10px;
}

.nav_projects {
    grid-column: 11 / span 1;
    /* margin-right: 20px; */
}

.nav_linkedin {
    grid-column: 12 / span 1;
    padding-right: 30px;
}


/* .headercontent {
    border: 1px solid black;
} */

.headerPhrase {
    display: grid;
    grid-template-rows: 100px 50px 50px 50px 100px 50px;
    grid-template-columns: 3fr 3fr;
    height: 70vh;
    margin-top: 55px;
    letter-spacing: 2px;
    /* border: 1px solid red; */
}

.headerPhrase p {
    padding: 0;
    margin: 0;
    /* padding-right: 10px; */
    /* height: 100px; */
    justify-self: end;
    align-self: center;
}

.headone {
    font-size: 55px;
    padding-top: 55px;
}

.headthree {
    grid-column: 0;
    grid-row: 2 / span 1;
    color: white;
    font-size: 25px;
}

.headtwo {
    grid-column: 0;
    grid-row: 3 / span 1;
    color: white;
    font-size: 18px;
}

.headerdetails {
    grid-column: 0;
    grid-row: 4 / span 1;
    color: #EBEBEB;
}

.headerdetails a {
    color: #EBEBEB;
    margin-top: 15px;
    font-family: Helvetica;
    position: relative;
    font-size: 14px;
    text-decoration: none;
}

.headerdetails a:hover {
    font-size: 14px;
    color: #829CD0;
    text-decoration: none;
}

.learn {
    grid-column: 0;
    grid-row: 5 / span 1;
    border-radius: 25px;
    border: 1px solid white;
    background-color: transparent;
    width: 120px;
    height: 40px;
    justify-self: end;
    font-size: 14px;
    margin-right: 10px;
    align-self: center;
}

.learn a {
    color: white;
    text-decoration: none;
}

.learn a:hover {
    color: #EBEBEB;
    text-decoration: none;
}

.profilepic {
    grid-column: 2 / span 1;
    grid-row: 1 / span 5;
    /* padding-top: 20px; */
    width: 350px;
    height: 350px;
    padding-left: 40px;
}