html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Helvetica
}

body {
    margin: 0;
    background-image: url("../../imgs/back1.jpg");
    background-attachment: fixed;
}

.design {
    background-color: #20368F;
    height: 1000px;
    width: 1300px;
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    border-radius: 10%;
    margin-top: -450px;
    position: relative;
    z-index: 0;
}

img {
    max-width: 100%;
}

.maincontainer {
    margin-top: -550px;
    color: white;
    height: 100%;
    width: 100%;
}

.nav {
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    padding-bottom: 10px;
    transition: 0.2s;
    font-size: 18px;
    background-color: rgba(32, 54, 143, 0.85) !important;
    z-index: 1;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    /* grid-template-columns: repeat(12, 1fr); */
    grid-template-columns: 20% 48% 10% 10% 10%;
    grid-template-rows: 90px;
    grid-gap: 10px;
    align-items: center;
}

.nav ul a {
    color: white;
    text-decoration: none;
}

.nav ul a:hover {
    color: #00ccff;
}

.nav_name {
    grid-column: 1;
    padding-left: 10px;
    /* font-size: 1.7vw; */
}

.nav_projects {
    grid-column: 3;
}

.nav_linkedin {
    grid-column: 4;
    /* padding-right: 30px; */
}

.nav_git {
    grid-column: 5;
    padding-right: 30px;
}

.headercontent {
    margin-top: 120px;
}

.headerPhrase {
    display: grid;
    grid-template-rows: 100px 50px 50px 50px 100px;
    grid-template-columns: 3fr 3fr;
    height: 70vh;
    margin-top: 65px;
    letter-spacing: 2px;
    position: relative;
    z-index: 0;
}

.headerPhrase p {
    padding: 0;
    margin: 0;
    justify-self: end;
}

.headone {
    font-size: 4.5vw;
    padding-top: 55px;
    align-self: center;
}

.headthree {
    grid-column: 0;
    grid-row: 2 / span 1;
    color: white;
    font-size: 2vw;
    align-self: center;
}

.headtwo {
    grid-column: 0;
    grid-row: 3 / span 1;
    color: white;
    font-size: 2vw;
    align-self: start;
}

.headerdetails {
    grid-column: 0;
    grid-row: 4 / span 1;
    color: #EBEBEB;
    align-self: start;
    font-size: 1.7vw;
}

.headerdetails a {
    color: #EBEBEB;
    margin-top: 15px;
    font-family: Helvetica;
    position: relative;
    font-size: 1.7vw;
    text-decoration: none;
}

.headerdetails a:hover {
    font-size: 1.9vw;
    color: #00ccff;
    text-decoration: none;
}

.learn {
    grid-column: 0;
    grid-row: 5 / span 1;
    transform: translate(0%, -50%);
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    width: 20%;
    height: 10%;
    justify-self: end;
    font-size: 12px;
    /* margin-left: 50px; */
    align-self: center;
    text-align: center;
}

.learn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00ccff;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(0);
}

.learn:hover:before {
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(1);
}

.learn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid white;
    box-sizing: border-box;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
}

.learn:hover:after {
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}

.profilepic {
    grid-column: 2 / span 1;
    grid-row: 1 / span 5;
    width: 350px;
    height: 350px;
    padding-left: 40px;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    margin-top: 75px;
    background-color: #20368F;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #00ccff;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .nav ul {
        grid-template-columns: 40% 40% 20%;
    }
    .headerPhrase {
        grid-template-rows: 80px 50px 50px 50px 100px;
    }
    .headerdetails a {
        font-size: 2.5vw;
    }
    .headerdetails a:hover {
        font-size: 2.7vw;
    }
    .headerdetails {
        font-size: 2.5vw;
    }
    .profilepic {
        grid-row: 1 / span 4;
        grid-column: 2 / span 1;
        width: 300px;
        height: 350px;
        padding-left: 10px;
    }
    .nav_linkedin {
        display: none;
    }
    .nav_git {
        display: none;
    }
    .nav_projects {
        grid-column: 3;
    }
    .learn {
        font-size: 12px;
        width: 30%;
        height: 10%;
        padding: 15px 20px;
    }
}

@media screen and (max-width: 730px) {
    .headercontent {
        margin-top: 100px;
    }
    .nav ul {
        grid-template-columns: 40% 35% 25%;
    }
}

@media screen and (max-width: 600px) {
    .design {
        height: 1050px;
    }
    .headercontent {
        margin-top: 80px;
    }
    .nav_name {
        /* font-size: 3.5vw; */
    }
    .headone {
        font-size: 6.5vw;
    }
    .headthree {
        font-size: 3.5vw;
    }
    .headtwo {
        font-size: 3vw;
    }
    .headerdetails a {
        font-size: 2.5vw;
    }
    .headerdetails a:hover {
        font-size: 2.7vw;
    }
    .headerdetails {
        font-size: 2.5vw;
    }
    .profilepic {
        grid-row: 1 / span 4;
        grid-column: 2 / span 1;
        width: 250px;
        height: 300px;
        padding-left: 10px;
    }
    .learn {
        font-size: 12px;
        width: 35%;
        height: 10%;
        padding: 15px 15px;
    }
}

@media screen and (max-width: 480px) {
    html {
        overflow-x: hidden;
    }
    .profilepic {
        grid-row: 1 / span 4;
        grid-column: 2;
        width: 215px;
        height: 300px;
        padding-left: 10px;
    }
    .headercontent {
        margin-top: 50px;
    }
    .headerPhrase {
        margin-top: 0px;
        grid-template-rows: 60px 50px 50px 40px 100px;
    }
    .learn {
        font-size: 12px;
        width: 40%;
        height: 10%;
        padding: 15px 15px;
    }
}

@media screen and (max-width: 400px) {
    html {
        overflow-x: hidden;
    }
    .design {
        height: 1100px;
    }
    .headercontent {
        position: static;
        margin-top: 30px;
    }
    .profilepic {
        width: 180px;
        height: 250px;
        padding-left: 5px;
        margin-top: 20px;
    }
    .headone {
        font-size: 6vw;
    }
    .headthree {
        font-size: 3.5vw;
    }
    .headtwo {
        font-size: 3vw;
        text-align: right;
    }
    .headerdetails a {
        font-size: 3vw;
    }
    .headerdetails a:hover {
        font-size: 3.1vw;
    }
    .headerdetails {
        font-size: 3vw;
    }
    .nav_name {
        font-size: 4.5vw;
    }
    .nav_projects {
        grid-column: 3;
    }
    .learn {
        font-size: 12px;
        width: 45%;
        height: 10%;
        padding: 15px 15px;
    }
}