.titletabs {
    display: grid;
    grid-auto-rows: 2;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #20368F;
    width: 100vw;
    height: 100%;
    z-index: -1;
    align-self: center;
}

.projects {
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 1px;
}

.tabs {
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, .1);
    /* width: 100vw; */
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-self: baseline;
}


/* .tabs div {
    border-radius: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.tabs2 {
    border-radius: 50px 50px 50px 50px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
}

.tabs2 i {
    padding-right: 10px;
    font-size: 30px;
}

.tabs2 p {
    overflow: hidden;
    font-size: 2vw;
}

.db {
    background-color: #00b8e6;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.wp {
    background-color: #00ccff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    /* flex-shrink: 3; */
}

.vr {
    background-color: #00ccff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    /* flex-shrink: 3; */
}

@media (max-width: 768px) {
    /* .tabs {
        flex-wrap: wrap;
    }
    .shrink {
        max-width: 20px;
        height: 0px;
    } */
    /* .tabs div {
        padding: 25px;
    } */
    /* .tabs2 i {
        padding-left: 10px;
    } */
    .db {
        width: 30%;
        height: 60px;
    }
    .db p {
        font-size: 3vw;
    }
}

@media (max-width: 769px) {
    .shrink {
        width: 80px;
        height: 80px;
        padding: 0px 25px;
    }
    .shrink i {
        padding-left: 10px;
    }
    .db p {
        font-size: 2vw;
    }
    /* button:hover {
        padding: 5px 18px;
    } */
}

@media (max-width: 670px) {
    /* .tabs2 {
        max-width: 0;
        height: 25px;
    } */
    /* .tabs2 {
        padding: 25px;
    } */
    /* .tabs2 i {
        padding-left: 10px;
    } */
    .db {
        width: 80px;
        height: 80px;
        padding: 0px 25px;
    }
    .db i {
        padding-left: 10px;
    }
}

@media (max-width: 930px) {
    .shrink {}
}