.titletabs {
    display: grid;
    grid-auto-rows: 2;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #7AA9BF;
    width: 100vw;
    height: 100%;
    z-index: -1;
    align-self: center;
}

.projects {
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 1px;
}

.tabs {
    /* border-radius: 0px 0px 50px 50px; */
    /* box-shadow: 0 12px 8px 0 rgba(0, 0, 0, .1); */
    width: 90vw;
    margin: auto;
    margin-top: 40px;
    height: 20vh;
    background-color: rgba(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* align-self: center; */
    border: none;
}


/* .tabs div {
    border-radius: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.tabs2 {
    /* border-radius: 50px 50px 50px 50px; */
    font-size: 20px;
    text-decoration: none;
    color: white;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    transform: translate(0%, -50%);
    margin-top: 60px;
    border: none;
    /* text-transform: uppercase; */
}

.tabs2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D3A9AB;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(0);
}

.tabs2:hover:before {
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(1);
}

.tabs2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid white;
    box-sizing: border-box;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
}

.tabs2:hover:after {
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}

.tabs2 i {
    padding-right: 10px;
    font-size: 30px;
}

.tabs2 p {
    overflow: hidden;
    font-size: 1.6vw;
}

.db {
    background-color: #7AA9BF;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.wp {
    background-color: #7AA9BF;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    /* flex-shrink: 3; */
}

.vr {
    background-color: #7AA9BF;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    /* flex-shrink: 3; */
}

@media (max-width: 768px) {
    /* .tabs {
        flex-wrap: wrap;
    }
    .shrink {
        max-width: 20px;
        height: 0px;
    } */
    /* .tabs div {
        padding: 25px;
    } */
    /* .tabs2 i {
        padding-left: 10px;
    } */
    .db {
        width: 30%;
        height: 60px;
    }
    .db p {
        font-size: 3vw;
    }
}

@media (max-width: 769px) {
    .shrink {
        width: 80px;
        height: 80px;
        padding: 0px 25px;
    }
    .shrink i {
        padding-left: 10px;
    }
    .db p {
        font-size: 2vw;
    }
    /* button:hover {
        padding: 5px 18px;
    } */
}

@media (max-width: 670px) {
    /* .tabs2 {
        max-width: 0;
        height: 25px;
    } */
    /* .tabs2 {
        padding: 25px;
    } */
    /* .tabs2 i {
        padding-left: 10px;
    } */
    .db {
        width: 80px;
        height: 80px;
        padding: 0px 25px;
    }
    .db i {
        padding-left: 10px;
    }
}

@media (max-width: 930px) {
    .shrink {}
}